html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
	/*background-color: #94396b;*/
	/*background-color: #d15499;*/
	color: #000;
	position: relative;



	/*font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Overpass', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Josefin Sans', sans-serif; fin 
	font-family: 'Alegreya Sans', sans-serif; 
	font-family: 'Josefin Slab', serif;
	font-family: 'Didact Gothic', sans-serif; fin */
	/*font-family: 'Hind Vadodara', sans-serif;*/
	/*font-family: 'PT Mono', monospace;*/
}

a {
	color: #fff;
	cursor: pointer;
}

.btn {
	/*background-color: #af61a3;*/
	background-color: #de7c90;
	cursor: pointer;
	color: #fff;
	border: none;
	margin-top: 2rem;
}

.btn2 {
	background-color: #d1667c;
}

.btn:hover {
/*	background-color: #f0aacc;
	color: #94396b;*/
	background-color: #ff88a0;
	color: #fff;
}

.navbar {
	/*background-color: #fff;*/
	margin-bottom: 0;
	/*background-color: transparent;*/
	background-color: #fff;
	border: none;
	padding: 1.5rem 0 0 2rem;
	/*color: #000;*/
	/*opacity: 0.7;*/
}

.activated {
	/*text-decoration: line-through;*/
	text-decoration: underline;
	color: #000;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    background-color: #fff;
    margin-left: 3rem;
}	

.dot {
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

hr {
	width: 95%;
	margin-top: 1rem;	
}

.page-content {
	position: fixed; 
	top: 0; 
	left: 0; 

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	margin: 0 auto;  
}

.page-first {	
	/*background-color: #fbd4dc;	*/
	background-color: #fbc5d0;
	color: #000;
	/*background-image: url("./images/bgfur.png");*/
	/*background-size: cover;*/
}

#logo {
	margin-top: -1rem;	
	text-align: left;
	position: relative;
}

.page-first h1 {
	font-size: 18rem;
  	margin: 0 auto;
}

.txt-front {
	margin-top: 13rem;
	/*width: 15rem;*/
}

.txt-front h4 {
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 50rem;
	line-height: 3rem;
}

.page-contact {
	background-color: #fbc5d0; 
	/*background-color: #f0aacc; ljust*/
	/*background-color: #af61a3;*/
	/*background-color: #d15499;*/
	color: #000;
}

.page-contact h1 {
	font-size: 6rem;
}

.txt-contact {
	margin-top: 18rem;
}

.txt-contact h1 {
	margin-bottom: 5rem;
}

.txt-contact h1 {
	margin-bottom: 5rem;
}

#txt-hello {
	/*color: #94396b;*/
	color: #d45387;
}

.img-phone {
	background-color: #fff;
	display: block;
	height: 20rem;
    margin: auto;
    width: 20rem;
    background-image: url("./images/phone1.png");
	background-size: cover;
}

.img-phone:hover {
	background-image: url("./images/phone2.png");
}

.page-about {
	background-color: #fbc5d0;
}

.div-about {
	margin: 0 auto;
	margin-top: 6rem;
	width: 120rem;
}

.img-circle {
	height: 27rem;
	width: 28rem;
    border-radius: 50%;
}

.txt-aboutintro {
	width: 50rem;
	margin: 0 auto;
	margin-top: 2rem; 
}

.txt-about {
	width: 25rem;
	margin: 0 auto;
}

.txt-email {
	margin-top: 3rem;
}


/*.footer {
	clear: both;
	position: fixed;
	z-index: 10;
	bottom: 0;
	height: 5rem;
	background-color: #000;
	/*padding: 1.5% 0px 0px 3%;*/
}*/