html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #cccccc;
	position: relative;
	height: 100%;
	background-color: #0d0d0d;
	/*background-color: #1a1a1a;*/
}

.div-start img {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

i {
	color: #fff;
}

.icon {
	margin-top: 18rem;
}

.intro {
	color: #0d0d0d;   
}	

.div-start {
	animation: mymove1 0.8s;
	width: 50rem;
    height: 15rem;
    /*background-color: red;*/

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.logo {

}

.txt-sum {
    /*animation: 1s ease 0s normal forwards 1 fadein;*/
    font-size: 18px;
    color: #808080;
    margin-top: 2rem;
}

@keyframes mymove1 {
    from {
      transform: translateY(45px);
      opacity: 0;
  }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}


.div-sum {
	width: 100%;
    height: 10rem;
	background-color: #000;
	position: absolute;
	margin-top: 60%;
}

.img-circle {
	height: 18rem;
	width: 18rem;
    border-radius: 50%;
}

.div-about {
	margin: 0 auto;
	margin-top: 60rem;
	width: 100%;
	height: 50rem;
	padding: 5rem 7rem 0 7rem;
	background-color: #000;
}

.div-about h3 {
	margin-top: 2rem; 
}

.div-contact {
	margin: auto;
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.div-footer {
	width: 100%;
    height: 4rem;
	background-color: #f50057;
	position: absolute;
	margin-top: 100%; 
}

.div-footer p {
	margin-top: 1.5rem; 
}

.div-parallax {
	perspective: 1px;
  	height: 100vh;
  	overflow-x: hidden;
  	overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.div-parallax-back {	
	transform: translateZ(-1px) scale(2);
}

.div-parallax-base {
	transform: translateZ(0);
}























